.main_cover {
  width: 345px;
  height: 195px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img_Cover {
  object-fit: cover;
  object-position: center;
  height: 195px !important;
}
.hidden {
  display: none;
}
