@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-main-titles: #1d1d1f;
  --color-main-paragraphs: #454544;
  --second-bg-color: #f7f7f5;
  --bg-overlay-color: rgb(228, 222, 222);
  --color-links-header: #000000;
  --color-links-hover: #6c5656;
  --color-dark-gray: #d9d3d3;
  --color-light-pink: #ded7d4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  overflow-x: hidden;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
@media (max-width: 440px) {
  .slick-slide > div {
    display: flex;
    justify-content: center;
  }
}
