/* .country-list {
  display: flex;
  flex-direction: column;
}
.react-tel-input input {
  width: 100% !important;
  height: 42px !important;
  background-color: rgb(249 250 251) !important;
}

form button {
  background-color: var(--color-links-hover) !important;
  
} */
