.link_Style {
  padding: 8px 0;
  background-color: #282626;
  color: #f7f3ef;
  font-size: 15px;
  font-weight: 200;
  display: block;
  margin: auto;
  outline: none;
  transition: background 0.2s;
  border: 1px solid #282626;
  position: relative;
  z-index: 9;
  text-align: center;
}
.link_Style:hover {
  color: black;
  background-color: #f7f3ef;
  border: 1.5px solid black;
}
